<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>LocaCars</title>
    <th:block th:insert="~{fragments/link::link}"/>
</head>
<body>
<h1 class="text-center">Location de véhicules</h1>

<th:block th:insert="~{fragments/navbar::#navbar}"/>

<div class="container mt-3">
    <a class="button" th:href="@{/users/new}">Ajouter un Utilisateur</a>
    <h2 class="text-center">Liste des Utilisateur</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>prénom</th>
            <th>Date de naissance</th>
            <th>Date de permis de conduire</th>
            <th>Numéros de permis de conduire</th>
            <th>email</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getFirstName()}">...</td>
            <td th:utext="${user.getBirthDate()}">...</td>
            <td th:utext="${user.getLicenseDate()}">...</td>
            <td th:utext="${user.getLicenseNumber()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td th:utext="${user.getPassword()}">...</td>
            <td><a href="#" class="delete" th:data-link="@{'/users/' + ${user.getId()}}">Delete</a></td>
            <td><a th:href="@{'/updateusers/'+${user.getId()}}">Update User</a></td>
        </tr>
        </tbody>
    </table>

<!--    <div th:if="${#strings.equals(status_service,'SERVICE_UNAVAILABLE')}" class="alert alert-info alert-dismissible">-->
<!--        <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--        Service momentanément indisponible. Merci de réessayer plus tard ...-->
<!--    </div>-->
</div>

<th:block th:insert="~{fragments/script::script}"/>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $('.delete').on("click", (e) => {
        e.preventDefault();
    var link = $(e.target).data('link');
    $.ajax({
        url: link,
        method: 'delete',


        success: function () {
            location.reload();
        }
    })
    })
</script>
</body>

</html>