<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>LocaCars</title>
    <th:block th:insert="~{fragments/link::link}"/>
</head>
<body>
<h1 class="text-center">Location de véhicules</h1>

<th:block th:insert="~{fragments/navbar::#navbar}"/>

<div class="container mt-3">
    <h2 class="text-center">Modifier un véhicule</h2>

    <form action="#" th:action="@{'/modifVoiture/'+${vehicle.getId()}}"
                           th:object="${vehicle}" method="POST">
        <div class="form-group">
            <label for="brand">Immatriculation  du véhicule :</label>
            <input type="text" th:field="*{id}" class="form-control" id="immat"  th:value="${vehicle.getId()}" />
        </div>

        <div class="form-group">
            <label for="brand">Marque du véhicule :</label>
            <input type="text" th:field="*{brand}" class="form-control" id="brand"  th:value="${vehicle.getBrand()}" />
        </div>
        <div class="form-group">
            <label for="type">Modèle du véhicule :</label>
            <input type="text" th:field="*{type}" class="form-control" id="type"  th:value="${vehicle.getType()}" />
        </div>

        <div class="form-group">
            <label for="type">Couleur du véhicule :</label>
            <input type="text" th:field="*{color}" class="form-control" id="color"  th:value="${vehicle.getColor()}" />
        </div>

        <div class="form-group">
            <label for="type">prix de base du véhicule :</label>
            <input type="number" th:field="*{basePrice}" class="form-control" id="basePrice"  th:value="${vehicle.getBasePrice()}" />
        </div>

        <div class="form-group">
            <label for="type">Prix au km du véhicule :</label>
            <input type="number" th:field="*{kmPrice}" class="form-control" id="kmPrice"  th:value="${vehicle.getKmPrice()}" />
        </div>

        <div class="form-group">
            <label for="type">Puissance fiscal du véhicule :</label>
            <input type="number" th:field="*{horsePower}" class="form-control" id="horsePower"  th:value="${vehicle.getHorsePower()}"/>
        </div>

        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </form>
</div>

<th:block th:insert="~{fragments/script::script}"/>

</body>

</html>